<%- include("templates/header") %>
<div class="d-flex align-items-center justify-content-center">
    <h1>404</h1>
    <p> Page not found.</p><br>
    <a href="/members" class="btn btn-primary">Go Home</a>
  </div>
</div>
<%- include("templates/footer") %>
